li{
    list-style-type: none;
    margin-bottom: 2px;
    background-color: #fff;
}
 
h2{
    text-align: center;
    margin: 0;
    background-color: #fff;
    margin-left: 40px;
    color: grey;
}
.container{
    height: 200px;
}
a{
    text-decoration: none;
    color: grey;
}
